.container
  max-width: 1140px
  margin: 0 auto

.row
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  *zoom: 1

.col
  //background: pink
  border: 0px solid rgba(0, 0, 0, 0)
  float: left
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -moz-background-clip: padding-box !important
  -webkit-background-clip: padding-box !important
  background-clip: padding-box !important
  margin: 0 2%
  display: block

.three-one, .three-two, .three-three, .four-one, .four-two, .four-three, .four-four
  width: 96%

.nested
  margin: 0
  width: 100%
  .row
    margin: 0

@media screen and (min-width: 480px)
  .row, .col
    margin: 0 1%
  .three-one, .three-two
    width: 48%
  .three-three, .three-one.tablet-full
    width: 98%
  .four-one, .four-two
    width: 48%
  .four-three,
  .four-four,
  .four-one.tablet-full
    width: 98%
  .nested
    margin: 0
    width: 100%
    .row
      margin: 0

@media screen and (min-width: 760px)
  .three-one
    width: 31.33333333%
    &.tablet-full
      width: 31.33333333%
  .three-two
    width: 64.66666667%
  .four-one
    width: 23%
    &.tablet-full
      width: 23%
  .four-two
    width: 48%
  .four-three
    width: 73%
  .three-one
    .row, .col
      margin: 0%
  .three-two
    .row, .col
      margin: 0%
  .three-three
    .row, .col
      margin: 0%
  .four-one
    .row, .col
      margin: 0%
  .four-two
    .row, .col
      margin: 0%
  .four-three
    .row, .col
      margin: 0%
  .four-four
    .row, .col
      margin: 0%
  .three-one .col, .three-two .col, .three-three .col, .four-one .col, .four-two .col, .four-three .col, .four-four .col
    margin: 0 1%