---
layout: default
title: Aaron K. White - Really Tall... Really Amazing!
---

<section id="tagline" class="container" role='banner'>
    <h2>Designer, Developer, Husband, Father, &amp; Podcaster</h2>
</section>

<section id="social" class="container">
  <ul class="unstyled inline">
    <li><a href="http://twitter.com/aaronkwhite" class="ss-social-regular ss-twitter"></a></li>
    <li><a href="http://facebook.com/aaronkwhite" class="ss-social-regular ss-facebook"></a></li>
    <li><a href="http://dribbble.com/aaronkwhite" class="ss-social-regular ss-dribbble"></a></li>
    <li><a href="http://linkedin.com/in/aaronkwhite" class="ss-social-regular ss-linkedin"></a></li>
    <li><a href="http://github.com/aaronkwhite" class="ss-social-regular ss-octocat"></a></li>
    <li><a href="http://flickr.com/aaronkwhite" class="ss-social-regular ss-flickr"></a></li>
  </ul>
</section>

{% include portfolio.html %}

{% include writings.html %}