---
layout: default
title: Aaron K. White - Really Tall... Really Amazing!
---


<section id="writings" class="row lead">
  <article class="about small-9 small-centered large-centered columns">
    
    <header>
      <h2>Things I Write...</h2>
      <p> {{ page.description }}</p>
      <h4 class="subheader">I don't write often, but when I do it's Dos Equis!</h4>
    </header>
    
    <section>
      <ul class="writings-list no-bullet">

        {% for post in site.posts %}

          {% if post.categories contains "pages" %}
            
          {% else if %}
            <li>
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p class="date">
                {{ post.date | date: "%B %d, %Y" }}
              </p>
            </li>

          {% endif %}

        {% endfor %}

      </ul>
    </section>
</section>