<section class="row lead">
  <article class="about small-9 small-centered large-centered columns">
    <header>
        <h2>About Me...</h2>
        <p>{{ site.description }}</p>
    </header>
    <section>
      <p>
        I'm an Product Designer and Developer hanging my hat in Denver, CO. I'm currently building the next
        generation of productivity applications at Workiva.
      </p>
      <p>
        I used to build stuff for Empire Avenue, MySQL &amp; Others. You can see more of my work over on Dribbble. Feel free to drop me an email aaron [at] aaronkwhite [dot] com with any questions, comments, trivia or any general statements of fact that I may not be aware of...
      </p>
    </section>
  </article>
</section>