  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col four-two">
          <p>Really Tall... Really Amazing!</p>
        </div><!-- /four-two -->

        <div class="col four-two">
          <p class="copy">Copyright 2010-{{ site.time | date: "%Y" }} - Aaron K. White - All Rights Reserved</p>
        </div><!-- /four-two -->

      </div><!-- /row -->
    </div><!-- /container -->
  </footer>
    
  <script src="{{ relative }}javascripts/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="//use.typekit.net/ifh6zvt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

  </body>
</html>