  
  <footer>

    <div class="row">
      <div class="small-9 small-centered columns">

        <ul class="inline-list">
          <li><i class="ss-yoga marker"></i> &copy; {{ site.time | date: "%Y" }} &nbsp;&nbsp;REALLY TALL... REALLY AMAZING!</li>
          <li><a href="http://www.entrepreneurialbynature.com"><i class="ss-location marker"></i> BUILT IN COLORFUL COLORADO</a></li>
        </ul>

      </div><!-- /small-8 -->
    </div><!-- /row -->

  </footer>


    </div> 
  </section>

    
  <script src="{{ baseurl }}javascripts/jquery-2.1.0.min.js"></script>

  <script type="text/javascript" src="//use.typekit.net/ifh6zvt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>


  <script src="{{ baseurl }}javascripts/foundation/foundation.js"></script>
  <script src="{{ baseurl }}javascripts/foundation/foundation.dropdown.js"></script>
  <script src="{{ baseurl }}javascripts/waypoints.min.js"></script>

  <script src="{{ baseurl }}javascripts/hw-parallax.js"></script>
  <script src="{{ baseurl }}javascripts/scripts.js"></script>

  <script>
    $(document).foundation();
  </script>


  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.ga_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


  </body>
</html>