{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="{{ relative }}fonts/ss-social-regular.css" rel="stylesheet" />
    <link href="{{ relative }}fonts/ss-pika.css" rel="stylesheet" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="{{ relative }}stylesheets/main.css" />
  </head>

  <body>

    <section id="header">
      <div class="container">

        <div class="row">
          <div class="col four-one tablet-full site-title">
            <a href="{{ site.url }}">aaron k. white</a>
          </div>

          <div class="col four-three site-nav">
            <ul class="unstyled inline">
              <li><a href="/" class="ss-home"></a></li>
              <li><a href="/about.html" class="ss-businessuser"></a></li>
              <li><a href="http://homelandpodcast.com" class="ss-mic"></a></li>
              <li><a href="/" class="ss-rss"></a></li>
            </ul>
          </div><!-- .site-nav -->


        </div><!-- /row -->

      </div><!-- .container -->

    </section><!-- /header -->