
<section id="portfolio">

  <div class="row">
    <div class="large-12 columns">
      <h4>shiny things...</h4>
    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="large-4 columns">
      <img src="{{ relative }}images/savorly_364.jpg" />
    </div>
    <div class="large-4 columns">
      <img src="{{ relative }}images/eav_364.jpg" />
    </div>
    <div class="large-4 columns">
      <img src="{{ relative }}images/mysql_364.jpg" />
    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="large-4 columns">
      <img src="{{ relative }}images/instalens_364.jpg" />
    </div>
    <div class="large-4 columns">
      <img src="{{ relative }}images/thefan_364.jpg" />
    </div>
    <div class="large-4 columns">
      <img src="{{ relative }}images/job_board_364.jpg" />
    </div>
  </div><!-- /row -->
  
</section>