
<section id="portfolio" class="container">
  
  <h3>shiny things...</h3>

  <ul class="unstyled inline">
    <li><a href=""><img src="{{ relative }}images/savorly_132.jpg" /></a></li>
    <li><a href=""><img src="{{ relative }}images/eav_132.jpg" /></a></li>
    <li><a href=""><img src="{{ relative }}images/mysql_132.jpg" /></a></li>
    <li><a href=""><img src="{{ relative }}images/accent_132.jpg" /></a></li>
    <li><a href=""><img src="{{ relative }}images/talkingtech_132.jpg" /></a></li>
  </ul>
  
</section>