
<div class="row">
  <div class="small-12 columns">
    <div class="selfie">
      <img src="{{ baseurl }}assets/images/aaronkwhite.png" data-interchange="[{{ baseurl }}assets/images/aaronkwhite.png, (default)], [{{ baseurl }}assets/images/aaronkwhite@2x.png, (retina)]" class="selfie">
    </div><!-- /selfie -->

    <div class="biography">
      <h2>{{ site.author.name }}</h2>
      <p>
        I focus on driving user-centered design activities while evangelizing the product discovery process, developing interactive prototypes to validate assumptions and bringing Lean Startup methodologies into the Enterprise.
      </p>
      <div class="copy">
      <p>
        <i class="aw-yoga"></i> &copy; {{ site.time | date: "%Y" }} Really Tall… Really Amazing!
      </p>
      <p>
        <i class="aw-marker"></i> Made in Colorful Colorado
      </p>
    </div>
    </div><!-- /biography -->
    <div class="social">
      <ul class="inline-list">
        <li><a href="#" class="red"><i class="aw-dribbble"></i></a></li>
        <li><a href="#" class="gey"><i class="aw-github"></i></a></li>
        <li><a href="#" class="blueAlt2"><i class="aw-linkedin"></i></a></li>
        <li><a href="#"  class="blueAlt"><i class="aw-twitter"></i></a></li>
      </ul>
    </div>
    
  </div>
</div><!-- /row -->


