
<div class="row">
  <div class="small-12 columns">
    <img src="{{ baseurl }}assets/images/aaronkwhite.png" data-interchange="[{{ baseurl }}assets/images/aaronkwhite.png, (default)], [{{ baseurl }}assets/images/aaronkwhite@2x.png, (retina)]">
  </div>
</div><!-- /row -->


<div class="row">
  <div class="small-12 columns">
    <h2>{{ site.author.name }}</h2>
    <p>
      I focus on driving user-centered design activities while evangelizing the product discovery process, developing interactive prototypes to validate assumptions and bringing Lean Startup methodologies into the Enterprise.
    </p>
    <p>
      Really Tall… Really Amazing!
    </p>
  </div>
</div><!-- /row -->


