<section id="writings" class="row lead">
  <article class="about small-9 small-centered large-centered columns">
    
    <header>
        <h2>Things I Write...</h2>
        <h5 class="subheader">I don't write often, but when I do it's Dos Equis!</h5>
    </header>
    
    <section>
      
      <ul class="writings-list no-bullet">
        {% for post in site.posts limit: 10 %}
          <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>
              <span class="ss-calendar"></span> {{ post.date | date: "%B %d, %Y" }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </section>
</section>