html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.row {
  *zoom: 1; }
  .row:before {
    content: " ";
    display: table; }
  .row:after {
    content: " ";
    display: table;
    clear: both; }

.col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  margin: 0 2%;
  display: block; }

.three-one, .three-two, .three-three, .four-one, .four-two, .four-three, .four-four {
  width: 96%; }

.nested {
  margin: 0;
  width: 100%; }
  .nested .row {
    margin: 0; }

@media screen and (min-width: 480px) {
  .row, .col {
    margin: 0 1%; }

  .three-one, .three-two {
    width: 48%; }

  .three-three, .three-one.tablet-full {
    width: 98%; }

  .four-one, .four-two {
    width: 48%; }

  .four-three, .four-four, .four-one.tablet-full {
    width: 98%; }

  .nested {
    margin: 0;
    width: 100%; }
    .nested .row {
      margin: 0; } }
@media screen and (min-width: 760px) {
  .three-one {
    width: 31.33333%; }
    .three-one.tablet-full {
      width: 31.33333%; }

  .three-two {
    width: 64.66667%; }

  .four-one {
    width: 23%; }
    .four-one.tablet-full {
      width: 23%; }

  .four-two {
    width: 48%; }

  .four-three {
    width: 73%; }

  .three-one .row, .three-one .col {
    margin: 0%; }

  .three-two .row, .three-two .col {
    margin: 0%; }

  .three-three .row, .three-three .col {
    margin: 0%; }

  .four-one .row, .four-one .col {
    margin: 0%; }

  .four-two .row, .four-two .col {
    margin: 0%; }

  .four-three .row, .four-three .col {
    margin: 0%; }

  .four-four .row, .four-four .col {
    margin: 0%; }

  .three-one .col, .three-two .col, .three-three .col, .four-one .col, .four-two .col, .four-three .col, .four-four .col {
    margin: 0 1%; } }
* {
  margin: 0;
  padding: 0;
  position: relative; }

a {
  color: #595959;
  text-decoration: none; }
  a:hover {
    color: #ff9900; }

h1 {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.85em;
  line-height: 1;
  margin-bottom: 0.15em; }

h2 {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.475em;
  line-height: 1.575em;
  margin-bottom: 0.25em; }

h3 {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 0.3em; }

h4 {
  font-size: 0.875em;
  line-height: 1.25;
  margin-bottom: 0.275em; }

h5 {
  font-size: 0.675em;
  line-height: 1.25;
  margin-bottom: 0.25em; }

ul.unstyled, ol.unstyled, ul.inline, ol.inline {
  margin-left: 0;
  list-style: none; }

ul.inline > li, ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1; }

html {
  font: 150%/1 "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; }

body {
  background: #f3f3f3;
  color: #595959;
  display: block;
  margin: 0; }

.row {
  margin-bottom: 0.5em; }
  .row .col {
    magrin-bottom: 0.5em; }

#header {
  background: white;
  padding: 1.5em 0; }
  #header .site-title {
    float: left;
    font-size: 14px;
    color: #d9d9d9;
    padding-top: 20px;
    font-weight: 400; }
  #header .site-nav ul {
    float: right; }
    #header .site-nav ul li {
      color: #d9d9d9;
      font-size: 32px;
      padding: 0 2em;
      padding-right: 0; }
      #header .site-nav ul li a {
        color: #d9d9d9; }
        #header .site-nav ul li a:hover {
          color: #3299bb; }
        #header .site-nav ul li a .active {
          color: #3299bb; }

#tagline {
  margin: 1em 0x x; }
  #tagline h2 {
    text-align: center;
    font-size: 3.25em;
    font-weight: 400;
    line-height: 1.35em;
    padding: 0.5em 0 0.6725em 0; }

#social {
  margin-bottom: 1em; }
  #social ul {
    margin: 0 auto;
    text-align: center; }
    #social ul li {
      color: #d9d9d9;
      font-size: 2.8em;
      line-height: 1.5;
      padding: 0 0.675em; }
      #social ul li a {
        color: #dfdfdf; }
        #social ul li a:hover {
          color: #ff9900; }

#portfolio {
  margin-bottom: 38px; }
  #portfolio h3 {
    margin-bottom: 48px;
    text-align: center;
    font-weight: normal; }
  #portfolio ul li {
    margin: 0 18px;
    padding: 0; }
    #portfolio ul li img {
      border: 6px solid white; }

#writings {
  margin-bottom: 38px; }
  #writings h1 {
    font-weight: 400; }
  #writings h3 {
    margin-bottom: 48px;
    text-align: center;
    font-weight: normal; }
  #writings ul li {
    margin-bottom: 48px; }
  #writings p {
    padding-top: 8px;
    font-size: 0.75em; }
  #writings span {
    padding-right: 10px; }
