---
# front matter
---

// Reset all the things
@import 'normalize';

// Custom Variables
@import 'variables';

// Foundation 5
@import 'foundation/settings';
@import 'foundation';

// Fonts


// Custom Styles

#sidebar {
  background: $blueMain;
  color: $greyMain;
  height: 100%;
  left: 0;
  padding: 4em 1.5em;
  position: fixed;
  top: 0;
  width: 26%;
  h2 {
    color: $greyLight;
  }
}


#main {
  margin-left: 26%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 30%);
}
