---
# front matter
---

// Reset all the things
@import 'normalize';

// Custom Variables
@import 'variables';

// Foundation 5
@import 'foundation/settings';
@import 'foundation';

// Fonts


// Custom Styles

#sidebar {
  background: pink;
  height: 100%;
  left: 0;
  padding: 8em 1.5em;
  position: fixed;
  text-align: center;
  top: 0;
  width: 24%;
}

#main {
  margin-left: 24%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 30%);
}

.columns {
    background: #eee;
    font-size: 11px;
    margin-bottom: 20px;
    line-height: 2rem;
    border: solid 1px #c6c6c6;
    margin-left: 0 !important;
    margin-right: 0 !important;
}