@charset "UTF-8";

@font-face {
  font-family: "aaronkwhite-min";
  src:url("../fonts/aaronkwhite-min.eot");
  src:url("../fonts/aaronkwhite-min.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aaronkwhite-min.woff") format("woff"),
    url("../fonts/aaronkwhite-min.ttf") format("truetype"),
    url("../fonts/aaronkwhite-min.svg#aaronkwhite-min") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "aaronkwhite-min" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="aw-"]:before,
[class*=" aw-"]:before {
  font-family: "aaronkwhite-min" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aw-dribbble:before {
  content: "a";
}
.aw-github:before {
  content: "b";
}
.aw-linkedin:before {
  content: "c";
}
.aw-marker:before {
  content: "d";
}
.aw-twitter:before {
  content: "e";
}
.aw-yoga:before {
  content: "f";
}
