{% include header.html %}
  
<section id="page-nav" class="">

  <div class="row">
    <div class="small-12 columns">

      <p class="left my-image"><img src="http://www.gravatar.com/avatar/a12d1a571d63957f150117f18d87a69f.png" /></p>

      <p class="left my-name">aaronkwhite</p>
    
      <p class="my-menu right">
        <a href="#" data-dropdown="nav-dropdown" class=" columns nav-toggle">
          <img src="{{ baseurl }}/images/header_menu.png" alt="" />
        </a>
      
        <ul id="nav-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="{{ site.twitter_url }}"><i class="ss-twitter ss-social-regular"></i></a></li>
          <li><a href="{{ site.dribbble_url }}"><i class="ss-dribbble ss-social-regular"></i></a></li>
          <li><a href="{{ site.linkedin_url }}"><i class="ss-linkedin ss-social-regular"></i></a></li>
          <li><a href="{{ site.github_url }}"><i class="ss-octocat ss-social-regular"></i></a></li>
        </ul>
      </p>

    </div>
  </div>

</section><!-- /page-nav -->

  <section id="page" class="row lead">
  <article class="small-9 small-centered large-centered columns">
    <header>
        <p class="takemeback"><a href="#"><i class="ss-left"></i> back</a></p>
        <h2>{{ page.title }}</h2>
        <h4 class="subheader">{{ page.description }}</h4>
    </header>
    <section>
      <article>
      
        {{ content }}
      
      </article>
    </section>
  </article>
</section>

{% include footer.html %}