{% include header.html %}

<section id="page-nav" class="">

  <div class="row">
    <div class="small-12 columns">

      <p class="left my-image"><a href="{{ baseurl }}/"><img src="http://www.gravatar.com/avatar/a12d1a571d63957f150117f18d87a69f.png" /></a></p>

      <p class="left my-name"><a href="{{ baseurl }}/">aaronkwhite</a></p>
    
      <p class="my-menu right">
        <a href="#" data-dropdown="nav-dropdown" class=" columns nav-toggle">
          <img src="{{ baseurl }}/images/header_menu.png" alt="" />
        </a>
      
        <ul id="nav-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="{{ site.twitter_url }}"><i class="ss-twitter ss-social-regular"></i></a></li>
          <li><a href="{{ site.dribbble_url }}"><i class="ss-dribbble ss-social-regular"></i></a></li>
          <li><a href="{{ site.linkedin_url }}"><i class="ss-linkedin ss-social-regular"></i></a></li>
          <li><a href="{{ site.github_url }}"><i class="ss-octocat ss-social-regular"></i></a></li>
        </ul>
      </p>

    </div>
  </div>

</section><!-- /page-nav -->



<section id="post" class="row lead">
  <article class="small-9 small-centered large-centered columns">

    <header>
        <p class="takemeback"><a href="#"><i class="ss-left"></i> back</a></p>
        <h2>{{ page.title }}</h2>
        <h4 class="subheader"><i class="ss-calendar"></i> {{ page.date | date: "%B %d, %Y" }}</h4>
    </header>
    
    <section class="post-share text-center">
      <a href="https://twitter.com/intent/tweet?source=webclient&text={{ page.title }}&via=aaronkwhite&url=http://aaronkwhite.com{{ page.url }}">
        <i class="ss-social-regular ss-twitter"></i>
      </a>
    </section>

    <section class="post-content">
      {{ content }}
    </section>

  </article>
</section>

{% include footer.html %}